*{
  box-sizing: border-box;
}

textarea{
  resize: none;
}
#section{
  margin-top: 130px;
  padding-bottom: 100px;
  width: 100%;
  height: auto;
}

#cen{
  width: 980px;
  max-width: 980px;
  margin: 0 auto;
  height: 100%;
}


#app{
  width: 100%;
  height: 100%;
}


/* 영화 연령 표시 */
.grade-all{
  display: inline-block;
  vertical-align: middle;
  background: url(../common/grade-all.png) no-repeat 0 0;
  width: 24px;
  height: 24px;
}

.grade-15{
  display: inline-block;
  vertical-align: middle;
  background: url(../common/grade-15.png) no-repeat 0 0;
  width: 24px;
  height: 24px;
}

.grade-19{
  display: inline-block;
  vertical-align: middle;
  background: url(../common/grade-19.png) no-repeat 0 0;
  width: 24px;
  height: 24px;
}

.grade-12{
  display: inline-block;
  vertical-align: middle;
  background: url(../common/grade-12.png) no-repeat 0 0;
  width: 24px;
  height: 24px;
}

/*title-area*/
.title-area{
  border-bottom: 3px solid white;
}

.title-area h1{
  font-size: 3em;
  margin: 20px 0px;
}

.title-area .notice{
  color: rgb(208, 208, 208);
  font-size: 1.3em;
  margin: 20px 0px;
}