/* 상영스케줄 css */
.screening{
  width: 100%;
  min-height: 500px;
  background-color: black;
}

.screening-content{
  width: 100%;
  padding: 20px;
}

.screening-content .today{
  margin: 0 auto;
  width: 10em;
  text-align: center;
  border-top: 2px solid darkgray;
  color: white;
}

.schedule-list{
  width: 100%;
  border: 1px solid;
  border-color: darkgray transparent;
}

.schedule-list .schedule{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 10px;
}

.schedule-list .schedule span{
  color: white;
}

.schedule-list .schedule h3{
  flex-basis: 200px;
}



.schedule-article{
  overflow: hidden;
}

.schedule-article ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.schedule-article ul li{
  margin-right: 30px;
}

.schedule-article ul li a{
  display: block;
  width: 150px;
  height: 100px;
  background-color: rgb(33, 33, 33);
  box-shadow: 0 6px 6px rgba(130, 130, 130,0.2);
  padding: 10px 15px;
  border-radius: 15px;

  text-decoration: none;
  color: white;
}


.schedule-article ul li a span{
  color: white;
}

.schedule-article ul li a h4{
  margin: 0px;
}

.schedule-article ul li p{
  margin: 5px 0px;
}

.schedule-list .schedule .schedule-btn p span{
  color: white;
}

.schedule-btn .time,
.schedule-btn .length{
  color: darkgray;
}

.schedule-btn .time span
{
  font-size: 1.1em;
  font-weight: bold;
}


/* 박스오피스 */
.box-office{
  margin-top: 100px;
  width: 100%;
  min-height: 500px;
  background-color: rgb(0, 0, 0);
}

.main-movie{
  width: 100%;
  padding : 20px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* 박스오피스 각 영화들 */
.ranking-movie{
  position: relative;
  width: 250px;
}

.ranking-movie img{
  width: 245px;
  height: 352px;
  object-fit: cover;
  border-radius: 5px;
}

.ranking-num{
  position: absolute;
  color: black;
  top: 0px;
  left: 10px;
}

.ranking-num h1{
  margin: 0px;
  font-size: 40px;
  color: white;
}

/* 박스오피스 뒷배경 */
.hover-movie{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0;
  width: 245px;
  height: 352px;

  padding: 20px;
  text-decoration: none;
  color: white;
}

.hover-movie .summary{
  height: 260px;
}

.hover-movie .booking-btn-area{
  height: auto;
}

.hover-movie .booking-btn-area .booking-btn{
  width: 100%;
  height: 45px;
  border-radius: 0px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}


/* 박스오피스 마우스 오버시 효과 */
.ranking-movie:hover .ranking-num h1 {
  display: none;
}

.ranking-movie:hover .hover-movie{
  transition: 0.3s ease-out;
  opacity : 0.7;
}

.ranking-movie:not(:hover) .hover-movie{
  transition: 0.3s ease-out;
  opacity: 0;
}

.hover-movie .booking-btn-area .booking-btn:hover{
  transition: 0.8s ease-out;
  background-color: white;
  color: black;
}

.sub-title{
  width: 100%;
  min-height: 50px;
  line-height: 50px;
  text-align: center;

  font-weight: bold;
  color: darkgray;
  font-size: 25px;
}